DealDocumentAPI.module/Schemas/SFOutResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1544554640851" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1544554640851">
  <complexType name="SFOutElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="id" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="success" type="boolean"/>
      <element maxOccurs="unbounded" minOccurs="0" name="errors" type="string"/>
    </sequence>
  </complexType>
  <element name="SFOutElement" type="tns:SFOutElementType"/>
</schema>
